@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #000000;
    --text-primary: #f3f3f3;
    --text-secondary: #9a9a9a;
    --accent: #d63a47;
    --accent-dark: #4e1417;
    --box-shadow: #d13c3c96;
    --whatsapp: #37B64B;
    --linkedin: #007FBA;
    --github: #929292;
    --email: #EB4235;
    --divider: #272727d5;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.divider {
    border-bottom: 1px solid var(--divider);
}

#blink {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

a {
    text-decoration: none;
}

.title {
    font-family: 'Exo 2', sans-serif;
}

.accent {
    color: var(--accent);
}

main {
    padding-top: 80px;
}

.nav {
    width: 100%;
    position: fixed;
    box-shadow: 0px 1px 2px var(--box-shadow);
    transition: all 0.3s ease;
    z-index: 1000;
}

.nav.scrolled {
    box-shadow: 0px 2px 15px var(--box-shadow);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__logo {
    font-size: 1.8em;
}

.nav__link {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 35px;
}

.nav__link li a {
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    transition: all 0.2s ease;
    position: relative;
}

.nav__link li a:hover {
    color: var(--accent);
}

.nav__link li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav__link li a:hover::after {
    width: 100%;
}

.hero__content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    max-width: 750px;
    margin: auto;
    padding: 0 20px;
}

.hero__content h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 20px;
}

.hero__content p {
    font-size: 1.2em;
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 60px;
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.scroll-down span {
    display: block;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #4d4d4dd5;
    border-right: 2px solid #4d4d4dd5;
    transform: rotate(45deg);
    animation: scroll 1.5s infinite;
}

.scroll-down span:nth-child(2) {
    animation-delay: 0.2s;
}
.scroll-down span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
}
  50% {
    opacity: 1;
}
  100% {
    opacity: 0;
}
}

.btn {
    display: inline-block;
    background-color: var(--accent-dark);
    color: var(--accent);
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    padding: 20px 40px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--accent);
    color: var(--text-primary);
    box-shadow: 0 0 20px var(--accent);
}

.about__content {
    display: flex;
    flex-flow: column wrap;
    padding: 6em 0;
}

.about__content > h2 {
    text-align: center;
    margin: 3rem 0;
    font-size: 1.8em;
}

.about__item {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items: center;
}

.about__text {
    flex: 0 1 500px;
    text-align: right;
}

.about__text h2 {
    color: var(--text-primary);
    font-size: 1.6em;
    margin-bottom: 1.3rem;
}

.about__text p {
    color: var(--text-secondary);
    margin-bottom: 45px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.about__img img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.projects__content {
    padding: 8em 0;
}

.projects__content h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.8em;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
}

.project__card {
    border: 3px solid var(--accent-dark);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project__card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 8px var(--box-shadow);
}

.project__card img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 6px 6px 0 0;
}

.project__card h3 {
    margin: 1rem;
    font-size: 1.25rem;
    color: var(--text-primary);
}

.project__card p {
    color: var(--text-secondary);
    padding: 0 1rem 1rem;
    line-height: 1.3rem;
    font-size: 1.1rem;
}

.project__card a {
    margin: 0 1rem 1rem;
    padding: 8px 12px;
    display: inline-block;
    color: var(--accent);
    font-weight: bold;
}

.skills__content {
    padding: 8em 0;
    text-align: center;
}

.skills__content h2 {
    text-align: center;
    margin: 3rem 0 1rem;
    font-size: 1.8em;
}

.skills__content p{
    color: var(--text-secondary);
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.skill__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.skill__item i {
    font-size: 3em;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.skill__item span {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    color: var(--text-primary);
}

.skill__item:hover {
    transform: translateY(-8px);
}

.skill__item:hover i {
    transform: scale(1.2);
}

.contact__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 8em 0;
}

.contact__content h2 {
    text-align: center;
    margin: 3rem 0 1rem;
    font-size: 1.8em;
}

.contact__link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 20px;
}

.contact__card {
    border: 2px solid var(--color);
    border-radius: 24px;
}

.contact__card a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 20px 35px;
    border-radius: 20px;
    gap: 5px;
    color: var(--color);
    transition: all 0.2s ease;
}

.contact__card a:hover {
    color: var(--text-primary);
    background-color: var(--color);
    box-shadow: 0 0 10px  var(--shadow);
}

.footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 1em;
    color: var(--text-secondary);
    border-top: 1px solid var(--divider);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.2s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent;
}