@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /*---------= Color =---------*/
    --first-color: #f3f3f3;
    --second-color-100: #ff3041;
    --second-color-200: #9b131e;
    --second-color-300: #4b0b0e;

    --text-color-light: #aaaaaa;
    --text-color-strong: #cecece;
    
    --body-color-500: #000000; 
    --body-color-400: #0e0e0e;
    --body-color-300: #181818;
    --body-color-200: #141A28;
    --body-color-100: #141A28;

    --box-shadow: #c210109f;

    --whatsapp: #37B64B;
    --linkedin: #007FBA;
    --github: #666666;
    --email: #EB4235;

    --divider: #5c5c5cd5;

    /*---------= Font-Size =---------*/
    --body-font: "Inter", sans-serif;
    
    --font-size-600: 2.5rem;
    --font-size-500: 2.2rem;
    --font-size-400: 2rem;
    --font-size-300: 1.6rem;
    --font-size-200: 1.4rem;
    --font-size-100: 1rem;

    /*========== Font-Weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
}

/*---------= Responsive Font-Size =---------*/
@media screen and (min-width: 760px) {
    :root {
        --font-size-600: 3.2rem;
        --font-size-500: 3rem;
        --font-size-400: 2.8rem;
        --font-size-300: 1.8rem;
        --font-size-200: 1.4rem;
        --font-size-100: 1.1rem;
    }
}

@media screen and (min-width: 1150px) {
    :root {
        --font-size-600: 4rem;
        --font-size-500: 3.3rem;
        --font-size-400: 2.8rem;
        --font-size-300: 2rem;
        --font-size-200: 1.5rem;
        --font-size-100: 1.2rem;
    }
}

/*---------= Base =---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--font-size-100);
    color: var(--first-color);
    background-image: radial-gradient(
        circle at center, 
        var(--body-color-400) 10%,
        var(--body-color-500) 100%
    );
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.4;
}

button {
    outline: none;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*---------= CSS Classes =---------*/
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.section {
    padding: 6rem 1rem;
}

.divider {
    border-bottom: 1px solid var(--divider);
    margin: 0 auto;
}

.title {
    font-family: 'Exo 2', sans-serif;
}

.accent {
    color: var(--second-color-100);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/*---------= Header & Nav =---------*/
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 2px 2px var(--box-shadow);
    background-color: var(--body-color-500);
    transition: all 0.3s;
}

#header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

.logo {
    font-size: var(--font-size-200);
    color: var(--first-color);
    font-weight: var(--font-bold);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav-list {
    display: none;
    flex-flow: column nowrap;
    position: absolute;
    top: 72px;
    right: 0;
    background-color: var(--body-color-400);
    width: 50%;
    text-align: center;
    box-shadow: -8px 8px 15px -10px rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 15px 15px;
    z-index: 50;
    transition: all 0.2s;
}

.nav-list.show {
    display: flex;
}

.nav-link {
    display: block;
    padding: 1.5rem 1rem;
    font-size: var(--font-size-100);
    color: var(--first-color);
    transition: all 0.2s ease;
}

.nav-link:hover {
    background-color: var(--body-color-500);
}

.nav-link:active {
    background-color: var(--second-color-200);
}

.active-link::after {
  width: 100%;
}

.btn-mobile {
    background-color: transparent;
    color: var(--first-color);
    cursor: pointer;
}

.btn-mobile i {
    font-size: 1.5rem;
}

/*---------= Main =---------*/
#home {
    padding: 10rem 0;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.home-text h1 {
    font-size: var(--font-size-600);
    margin-bottom: 1.5rem;
}

.home-text p {
    font-size: var(--font-size-100);
    color: var(--first-color);
    margin-bottom: 3.5rem;
}

.btn {
    display: inline-block;
    margin-bottom: 5rem;
    padding: 1.2rem 3rem;
    background-color: transparent;
    font-size: var(--font-size-200);
    font-weight: var(--font-bold);
    color: var(--second-color-100);
    letter-spacing: 2px;
    border: 2px solid var(--second-color-100);
    border-radius: 3rem;
    box-shadow: 0 0 15px var(--second-color-100);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--second-color-200);
    box-shadow: 0 0 10px var(--second-color-100);
    color: var(--first-color);
}

.home-img {
    display: grid;
    justify-items: center;
    justify-self: center;
}

.home-img img {
    width: 300px;
    border-radius: 50%;
    border: 6px solid var(--second-color-100);
    box-shadow: 0 0 15px var(--second-color-100);
}

/*---------= About =---------*/
#about {
    text-align: center;
}

#about h2 {
    margin-bottom: 3rem;
    font-size: var(--font-size-400);
}

.about-text h3 {
    font-size: var(--font-size-300);
    margin-bottom: 1.2rem;
}

.about-text p {
    margin-bottom: 3rem;
    font-size: var(--font-size-100);
    color: var(--first-color);
}

#about .btn {
    padding: 1.2rem 2rem;
}

.about-img {
    display: none;
}

strong {
    color: var(--second-color-100);
}

/*---------= Projects =---------*/
#projects h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: var(--font-size-400);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.projects-card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-content: start;
    border: 3px solid var(--second-color-200);
    background-color: var(--body-color-400);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s;
}

.projects-card:hover {
    cursor: default;
    transform: translateY(-9px);
    box-shadow: 0 0px 12px var(--box-shadow);
}

.projects-card img {
    width: 100%;
}

.projects-card h3 {
    margin: 1rem;
    font-size: var(--font-size-300);
    color: var(--second-color-100);
}

.projects-card p {
    margin: 1rem;
    color: var(--first-color);
    font-size: var(--font-size-100);
}

.projects-card .links {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem;
    gap: 1rem;
}

.projects-card a {
    text-align: center;
    border-radius: 8px;
    padding: 0.6rem 0;
    background-color: var(--second-color-200);
    color: var(--first-color);
    font-weight: var(--font-bold);
    transition: all 0.3s;
}

.projects-card a:hover {
    opacity: 0.7;
}

/*---------= Skills =---------*/
#skills {
    text-align: center;
}

#skills h2 {
    margin-bottom: 3rem;
    font-size: var(--font-size-400);
}

#skills p{
    color: var(--first-color);
    margin-bottom: 3rem;
    font-size: var(--font-size-100);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: translateY(-10px) scale(1.1);
}

.skill-item i {
    font-size: 3rem;
}

.skill-item span {
    margin-top: 0.8rem;
    font-weight: var(--font-bold);
    font-size: var(--font-size-100);
    color: var(--first-color);
}

.skill-item .fa-html5 { color: #e44d26; }
.skill-item .fa-css3-alt { color: #379BD6; }
.skill-item .fa-js-square { color: #f7df1e; }
.skill-item .fa-react { color: #51C3E1; }
.skill-item .fa-git-alt { color: #DF4C37; }
.skill-item .fa-github { color: #ffffff; }
.skill-item .fa-figma { color: #A25AFF; }

/*---------= Contact =---------*/

#contact {
    text-align: center;
}

#contact h2 {
    margin-bottom: 3rem;
    font-size: var(--font-size-400);
}

#contact p {
    color: var(--first-color);
    margin-bottom: 3rem;
}

#contact > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.contact-card {
    border: 3px solid var(--color);
    border-radius: 15px;
}

.contact-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: var(--font-bold);
    font-size: var(--font-size-100);
    padding: 1.5rem 3rem;
    gap: 0.4rem;
    color: var(--color);
    transition: all 0.3s;
}

.contact-card a:hover {
    color: var(--text-primary);
    background-color: var(--color);
    box-shadow: 0 0 10px  var(--shadow);
}

.contact-card span {
    font-size: var(--font-size-100);
}

/*---------= Contact =---------*/
.footer {
    padding: 3rem 0;
    text-align: center;
    font-size: var(--font-size-100);
    color: var(--text-color-light);
    border-top: 1px solid var(--divider);
}


@media screen and (min-width: 1150px) {
    #header .nav {
        padding: 0.8rem 0;
    }

    .btn-mobile {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        position: static;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        gap: 2rem;
    }

    .nav-link {
        position: relative;
        padding: 0.6rem 0.2rem;
    }

    .nav-link::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--second-color-200);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.4rem;
        transition: all 0.2s;
    }

    .nav-link:hover {
        background-color: transparent;
        color: var(--second-color-100);
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .active-link::after {
        color: var(--first-color);
        width: 100%;
    }

    #home {
        padding-top: 15rem;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;
    }

    .home-text {
        text-align: left;
        flex: 0 1 700px;
    }

    .home-img img {
        width: 450px;
    }

    .about-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }

    .about-text {
        flex: 0 1 1500px;
    }

    .about-img {
        display: block;
    }

    #about .btn {
        padding: 1.2rem 3rem;
    }
}